[cPP ENHANCEMENT] Augment FIA_X509_EXT.1/Rev to cover details of Test 8 

**Provide the location of the issue**
In the PP: FIA_X509_EXT.1/Rev
In the SD: Section 4.3.1.3 para 562 (FIA_X509_EXT.1/Rev Test 8)

**What is the enhancement request for the cPP? Please describe.**
	FIA_X509_EXT.1/Rev. Test 8 creates a functional requirement to reject explicit format of EC. Recommend reflecting this requirement in the NDcPP.

**Describe the solution you'd like**
	As stated in the comment.

Support that suggestion. 
This requirement is contained in the [RFC 5480](https://www.rfc-editor.org/rfc/rfc5480#section-2.1.1) that updated RFC 3279 that is referenced in RFC 5280, and that is way too removed.

Closing this issue due to the next version of the NDcPP/SD pointing out to the NIAP FP for X.509.