TLSWG - FCS_TLSC_EXT.3.1

mclearn comment for FCS_TLSC_EXT.3.1 in TLSWG branch.

"Based on my reading of RFC 5746, the renegotiation_info structure and SCSV signalling value are mutually exclusive.  See section 3.4 of RFC 5746: "The client MUST include either an empty "renegotiation_info" extension, or the TLS_EMPTY_RENEGOTIATION_INFO_SCSV signaling cipher suite value in the ClientHello.  Including both is NOT RECOMMENDED."  Therefore, the requirement to support the renegotiation_info extension is not a viable requirement."

_Originally posted by @mclearn in https://github.com/ND-iTC/Documents/pull/12#r736795293_

@mclearn John Hall will rewrite the SFRs into one and share with the group.

Combining issue #16 and #17 here by adding issue #16 comment here:
mclearn comment for FCS_TLSS_EXT.3.2 in TLSWG branch.
"This element is redundant with FCS_TLSS_EXT.3.1."

@jhallf5 Can you provide an update on the changes to FCS_TLSS_EXT.3.1 and FCS_TLSS_EXT.3.2? Please let the group know by email if you need any feedback or assistance. Thanks!

Issue resolved with PR#38