FCS_SSH Curves 25519 and 448 and FIPS Approval

**Issue Location**
FCS_SSH_EXT.1.2, FCS_SSH_EXT.1.6, and FCS_SSHS_EXT.1.1

NDcPP v3.0 doesn’t specify SSH SFRs; instead, it claims conformance to Functional Package for SSH Version 1.0 (https://www.niap-ccevs.org/MMO/PP/459/pkg_ssh_v1.0.htm), which is NIAP approved. However, as per FCS_SSH_EXT.1.2, FCS_SSH_EXT.1.6, and FCS_SSHS_EXT.1.1, it allows curve 25519 and curve 448 to be used in public key authentication and key exchange. So far, it seems that curve 25519 and 448 are not FIPS approved, and we cannot get CAVP cert for digital signature generation/verification and key exchange based on curve 25519 and curve 448 (Note that, although EDDSA ACVP testing can be done, as per https://pages.nist.gov/ACVP/draft-celi-acvp-eddsa.html, it is for DEMO only). 
	 
However, curve 25519 and curve 448 are among Recommended Curves for U.S. Federal Government Use (as per Section 4 of NIST SP 800-186).Thus, it appears that NIST is planning to accept curve 25519 and curve 448 in the future, right?
	 
Anyway, what test shall be done if curve 25519 and curve 448 may be claimed for SSH, before there would be official ACVP testing for EDDSA and key exchange based on curve 25519 and curve 448? Or, does it imply that we shall NOT pick curve 25518 / 448 for SSH digital signature and SSH key exchange currently?


It may be beneficial to look at the NIAP [Protection Profile for General-Purpose Computing Platforms](https://www.niap-ccevs.org/MMO/PP/GPCP%201.0%20PP%20New) and determine if that approach could be followed in the NDcPP.

The GPCP PP also claims conformance to the NIAP Functional Package for SSH.  The [FCS_CKM.1.1/AK](https://www.niap-ccevs.org/MMO/PP/GPCP%201.0%20PP%20New/#FCS_CKM.1.1/AK) requirement has a selection for Curve25519 but it does not have a selection for Curve448.  

Below is the testing activity for Curve25519:

Curve25519: Curve25519 Key Generation

The evaluator shall require the implementation under test (IUT) to generate 10 private/public key pairs. The private key shall be generated as specified in RFC 7748 using an approved random bit generator (RBG) and shall be written in little-endian order (least significant byte first. To determine correctness, the evaluator shall submit the generated key pairs to the public key verification (PKV) function of a known good implementation.

Note: Assuming the PKV function of the good implementation will (using little-endian order):

Confirm the private and public keys are 32-byte values
Confirm the three least significant bits of the first byte of the private key are zero
Confirm the most significant bit of the last byte is zero
Confirm the second most significant bit of the last byte is one
Calculate the expected public key from the private key and confirm it matches the supplied public key

The evaluator shall generate 10 private/public key pairs using the key generation function of a known good implementation and modify 5 of the public key values so that they are incorrect, leaving five values unchanged (i.e. correct). The evaluator shall obtain in response a set of 10 PASS/FAIL values.

The suggestion from @plughy2 to follow the example from the GPCP PP seems reasonable, but it might require more time for examination and it would still be an incomplete remedy since it doesn't cover Curve25519.  We could use and build upon that approach for NDcPPv3.1.

In the meantime, this other approach may cover the concern for NDcPPv3.0...

In PP: Add to section 2.2 (Packages): 
"
The ST author shall not include any cryptographic selections in the above package that are not covered by the FCS requirements or Assurance Activities for this PP.  As of the initial publishing of NDcPPv3.0, prohibited selections include:
* FCS_SSH_EXT.1.1: RFC 8709 (ed25519 or ed448) 
* FCS_SSH_EXT.1.7: RFC 5656 (Section 4)
"

Agree the @plughy2 would be a good change for NDcPPv3.1

I agree with @dundiddat's general approach for NDcPPv3.0. The potential issue I see with this is related to issue #128, It is possible to read, "ST author shall not include any cryptographic selections in the above package that are not covered by the FCS requirements" to mean that neither SSH KDF may be selected because there is no an FCS requirement. trying to keep the change minimal, specific, and not overly technical, I propose something like:
The ST author shall not make selections specifying ed25519, curve25519, ed448, or curve448 in FCS_SSH_EXT.1.1, FCS_SSH_EXT.1.2, FCS_SSH_EXT.1.6, or FCS_SSH_EXT.1.7.

Keeping this list in sync with new versions of the SSH FP shouldn't be hard, but TDs could create unexpected inconsistencies.

I disagree that specifying prohibited selections is something we should do. This goes against many reasons of offloading SSH requirements to the SSH FP. My view is that ACVP coverage is an issue with SSH FP assurance activities and not an issue this iTC should attempt to fix.

This is not a problem with the SSH FP EAs. It would start becoming it's own stand-alone PP if it had to independently satisfy all dependencies. The SSH FP says:
- FCS_CKM.1 To support key generation for SSH, the incoporating document must **_include FCS_CKM.1 and specify the corresponding algorithm(s)_**.
- FCS_CKM.2 To support key establishment for SSH, the incoporating document must **_include FCS_CKM.2 and specify the corresponding algorithm(s)_**.

Since ed/curve (the corresponding algorithms) cannot be selected in NDcPP, specifying prohibited selections is just being helpful.

FIPS 186-5 has now been approved. Testing for these curves using ACVP production should be imminent. For non-CAVP testing, we can use the text contained in the RFC.