Section 3.6.1.1 para 275, FCS_DTLSC_EXT.2.3

FCS_DTLSC_EXT.2.3 includes the TSS requirement to describe the TSF. The expected description would likely include RFC6347 Section 3.3 (replay) and Section 4.1.2.1 (bad MAC) regurgitation. Is there value in requiring a description of implementing RFC-specified functionality when affirmation of conformance would likely suffice? How is this requirement different from ‘shall tables’ that were mandated in the past?

The wording needs to be clarified here, but will require more discussion to do so. Therefore, this is out of scope for the editorial period for NDcPPv3.0. Placing comment on hold for a future NDcPP update.

The ND iTC TLS working goup is working in conjunction with NIAP's TLS TC so that the next version of the NDcPP can point out to NIAP's FP's for TLS and X509.