TLSWG - FCS_DTLSC_EXT.1.1 app note

mclearn comment for FCS_DTLSC_EXT.1.1 app note in TLSWG branch.

"TLS 1.3 mandates TLS_AES_128_GCM_SHA256 in section 9.1 of RFC 8446 (which is likely to be same for DTLS 1.3).  Should this be considered "optional" as well for the purposes the PP?"

_Originally posted by @mclearn in https://github.com/ND-iTC/Documents/pull/12#r736804451_

I think we should avoid mandating TLS_AES_128_GCM_SHA256 for TLS 1.3 based on past history of the NDcPP.
It was mandatory to implement TLS_RSA_WITH_AES_128_CBC_SHA in the first version of NDcPP (v1.0).  In later versions of the cPP, the requirement to implement specific ciphersuites was removed even though RFC 5246 (TLS 1.2) and RFC 6347 (DTLS 1.2) mandated them.


@mclearn We discussed this on the TLS working group call today and determined that mandating this could cause an issue as we've seen in the past.