Section 4.2.2.3 para 415, FCS_DTLSS_EXT.1.2

FCS_DTLSS_EXT.1.2 test states: “If the DTLS server supports cookies…” indicating that supporting cookies is optional. This does not match the element: “The TSF shall not proceed with a connection handshake attempt if the DTLS server cannot successfully validate the cookie returned by the DTLS Client” indicating that ability to validate cookies is mandatory functionality. Please reconcile. 

I agree with the comment. i suggest the below:
"The DTLS server shall present a HelloRetryRequest message (DTLS 1.3)/ HelloVerify message (DTLS 1.2) containing a cookie. In the subsequent client hello message sent by the client to the server, the evaluator shall modify at least one byte in the cookie message and verify that the Server rejects the Client’s handshake message."


for your reference snipping from RFC9147:

In order to counter both of these attacks, DTLS borrows the stateless cookie technique used by Photuris [[RFC2522](https://www.rfc-editor.org/rfc/rfc9147.html#RFC2522)] and IKE [[RFC7296](https://www.rfc-editor.org/rfc/rfc9147.html#RFC7296)]. When the client sends its ClientHello message to the server, the server MAY respond with a HelloRetryRequest message. The HelloRetryRequest message, as well as the "cookie" extension, is defined in TLS 1.3. The HelloRetryRequest message contains a stateless cookie (see [[TLS13](https://www.rfc-editor.org/rfc/rfc9147.html#RFC8446)], [Section 4.2.2](https://www.rfc-editor.org/rfc/rfc8446#section-4.2.2)). The client MUST send a new ClientHello with the cookie added as an extension. The server then verifies the cookie and proceeds with the handshake only if it is valid. This mechanism forces the attacker/client to be able to receive the cookie, which makes DoS attacks with spoofed IP addresses difficult. This mechanism does not provide any defense against DoS attacks mounted from valid IP addresses.

The DTLS 1.3 specification changes how cookies are exchanged compared to DTLS 1.2. DTLS 1.3 reuses the HelloRetryRequest message and conveys the cookie to the client via an extension. The client receiving the cookie uses the same extension to place the cookie subsequently into a ClientHello message. DTLS 1.2, on the other hand, used a separate message, namely the HelloVerifyRequest, to pass a cookie to the client and did not utilize the extension mechanism. For backwards compatibility reasons, the cookie field in the ClientHello is present in DTLS 1.3 but is ignored by a DTLS 1.3-compliant server implementation.


I agree with the comment and Fathi's suggestion.

On today's call, the TLSWG agreed to Fathi's suggested wording.