TLSWG-FCS_DTLSS_EXT.1.4 and FCS_DTLSS_EXT.1.5 Test1

Please take a look to the RFC 8446, section 4.2.7, i think it should be like this:
The evaluator shall attempt a connection using a supported ECDHE ciphersuite and a single unsupported elliptic curve (DTLS 1.0/1.2) or unsupported group (DTLS 1.3) (e.g. secp192r1 (0x13)) specified in RFC4492, chap. 5.1.1........

even i am ok with leaving it like that without change, as the reference to unsupported elliptical curve still applies

_Originally posted by @ouarak in https://github.com/ND-iTC/Documents/pull/49#discussion_r839774341_

Wording updated with Kenji's proposed changes as agreed upon in our last TLS wg meeting.