Section 4.2.1.3 para 372, FCS_DTLSC_EXT.1 Test 6

FCS_DTLSC_EXT.1 Test 6, ‘scrambled message tests’. Unlike sequential TLS packets, DTLS protocol can discard scrambled message without processing it and if nothing else arrives eventually timing out. Please clarify that in performing scrambling, the resulting message must still be a valid and sequenced datagram and that seeing DTLS timeout is not a valid test result. Alternatively, consider removing Test 6 a) and b). 

This comment was also submitted in the NIT in RFI 202232.

DTLS timeout is a valid result for this test as long as the TOE attempts to retry its last accepted record sequence.

The behaviour in the test cases match RFC 6347.  Specifically section 4.1.2.7 Handling Invalid Records as well as the state machine in section 4.2.4 discuss relevant behaviour.  Section 5 explicitly says: "Unlike TLS implementations, DTLS implementations SHOULD NOT respond to invalid records by terminating the connection."  However, an equally valid outcome is for the DTLS endpoint to terminate the connection after a Fatal Error is issued.  Both outcomes are defined in section 4.1.2.1 of the RFC.

DTLS purposefully discards messages which are incorrect.  In test 6a and 6b, modifying the Finished message (either by one byte, or by totally scrambling it) is essentially the same as a packet which has been corrupted or noise on the wire.  Section 4.1.2.1 of RFC 6347 defines an invalid record to include those with invalid MACs.  This, by definition, includes anything to do with invalid Finished messages.   Thus, an expected result in test 6a and 6b (and actually 6c with the TLS_RSA_WITH... ciphersuites) is to see the TOE client ignore the finished message and restart it's own message sequence from the last valid set.  There are other permissible outcomes as well, as defined in the RFC.

Furthermore, there are not necessarily expected to be audit messages associated with this, because dropping invalid packets is one of DTLS's core functions and it generally does so silently.  As a data point, OpenSSL drops packets silently.  Regarding diagnostic logging, the RFC says this is a MAY requirement and not a SHALL requirement.  

I believe all of test 6a, 6b and 6c are fine as-is.
Note that test 6c can be a variant of 6a/6b when TLS_RSA_WITH... ciphersuites are used.  While the nonce is modified, this isn't detected as a corruption early on in the sequence because it *can't* be detected as such.  The only time it can be detected is when a message that needs to use it is being processed.  However, using TLS_RSA_WITH_... ciphersuites is basically the same as test 6a or 6b.  For (EC)DHE ciphersuites, in the case of OpenSSL, because Key Exchange messages are not encrypted, they (OpenSSL) appear to treat them as a different class of invalid messages.  To this end, it appears that OpenSSL takes advantage of the fact that the RFC permits the connection to be terminated after the issuance of a fatal alert -- which it does so as long as a (EC_DHE ciphersuite is used.

Therefore, I believe test 6a, 6b and 6c are reasonably well-written, with the exception that there are a few other termination states which are permissible.  In all cases, the outcome "No application data flows" is valid as long as it relates to the TOE.  For Test 6c, "...server denies the client’s Finished handshake..." is also valid as long as we define "denies" as not progressing through the state machine.

On today's call, the TLSWG agreed to allow the NIT to resolve this in RFI 202232.