NIT RFI#202501 CPP_ND_V3.0E Support for RFC 7627

**Question**
In CPP_ND_V2.2E and CPP_ND_V3.0E the tests for FCS_IPSEC_EXT.1.10 are Would it be possible to update the below SFRs in CPP_ND_V3.0E to support a selection for RFC 7627?  RFC 7627 will enhance the security of TLS 1.2 and resolve a known issue as described in Section 1 of RFC7627.  I believe CAVP now supports testing for RFC 7627 and RFC 7627 will be required by the end of 2025.  RFC 7627 is an option in PKG_TLS_v2.0 but PKG_TLS_v2.0 is not applicable to CPP_ND_V3.0E. Thank you for your help.
 
FCS_TLSC_EXT.1
FCS_DTLSC_EXT.1
FCS_TLSS_EXT.1
FCS_DTLSS_EXT.1 a copy of the TSS activities, there are no actual tests for this SFR.

**NIAP Priority**
Project in Pre-Eval or General

**NIAP Response**
The TRRT agrees that RFC7627 should be acceptable in CPP_ND_V3.0E. This will be sent to the NIT for resolution.

The NIT has asked the TLSWG to take on this discussion.

Supporting the extended_master_secret extension for [D]TLS 1.2 requires processing client hello/server hello message extensions, which isn't defined or covered in an existing SFR from the current NDcPP.  I don't see it could be implemented via RFI unless new SFR elements are added under:

FCS_TLSC_EXT.1
FCS_TLSS_EXT.1
FCS_DTLSC_EXT.1
FCS_DTLSS_EXT.1

In PKG_TLS_v2.0, when this requirement is selected, it requires enforcement.  In other words, if the peer doesn't support the extended_master_secret extension the TOE must terminate the session.  Implementing support for this via RFI needs to allow enforcement to be optional.

The TLS working group discussed this RFI and agreed that ther is nothing in tNDcPPv3.0e that disallows RFC 7627.