Section 3.6.2.3, FCS_DTLSS_EXT.2.4, Tests

Section 3.6.2.3, FCS_DTLSS_EXT.2.4, Tests
Section 3.6.5.3, FCS_TLSS_EXT.2.4, Tests

•	Test 1: The conditional makes no sense because the ST author has to select either (D)TLS 1.2 or 1.3
•	Test 1a: The evaluator is being told to examine the certificate Request message without being told to first establish a connection that would contain the message.
•	Test 2: FCS_DTLSS_EXT.2.4 does not have a selection for presenting the signature_algorithms_cert extension
•	Test 2a: Typo in the extension name

Suggested changes:
•	Remove “[conditional]: if “present a [selection: (D)TLS 1.2, (D)TLS 1.3] Certificate request message” is selected,” and start with “Test 1: The evaluator shall perform the following tests for each selected version of (D)TLS:”
•	Add to Test 1a “The evaluator shall establish a connection” before instructing the evaluator to examine the Certificate Request message
•	Remove the conditional text after “the following tests”
•	Replace “certificate_algorihtms_cert” with “signature_algorithms_cert”

FCS_DTLSS_EXT.2.4 does not include an option to specify the signature_algorithms_cert extension for DTLS1.3. I'm not sure if that was accidentally or intentionally omitted. Whether the SFR specifies the signature_algorithm_cert extension will determine how the what will be tested.

The TSS and Guidance EAs for FCS_DTLSS_EXT.2.4 do not mention the signature_algoritms_cert extension, so this seems like an intentional omission.

@ND-iTC/tls I have no notes on this topic from my time on the TLS working group. Can some of the members who have been involved in TLSv1.3 since the beginning please chime on on this issue?
@mclearn @michaelvogelatsec @jhallf5 @ianhallbc @a-kandiah 

Modify FCS_TLSS_EXT.2.4 and FCS_DTLSS_EXT.2.4 to:

The TSF shall [selection:
* present a TLS 1.2 Certificate Request message containing the following algorithms: [selection:
        rsa_pkcs1 with sha256(0x0401),
        rsa_pkcs1 with sha384(0x0501),
        rsa_pkcs1 with sha512(0x0601),
        ecdsa_secp256r1 with sha256(0x0403),
        ecdsa_secp384r1 with sha384(0x0503),
        ecdsa_secp521r1 with sha512(0x0603),
        rsa_pss_rsae with sha256(0x0804),
        rsa_pss_rsae with sha384(0x0805),
        rsa_pss_rsae with sha512(0x0806),
        rsa_pss_pss with sha256(0x0809),
        rsa_pss_pss with sha384(0x080a),
        rsa_pss_pss with sha512(0x080b)

        ] and no other algorithms;

* present a TLS 1.3 encrypted signature_algorithms and [selection: signature_algorithms_cert, no other] entensions containing the following:

        rsa_pkcs1 with sha256(0x0401),
        rsa_pkcs1 with sha384(0x0501),
        rsa_pkcs1 with sha512(0x0601),
        ecdsa_secp256r1 with sha256(0x0403),
        ecdsa_secp384r1 with sha384(0x0503),
        ecdsa_secp521r1 with sha512(0x0603),
        rsa_pss_rsae with sha256(0x0804),
        rsa_pss_rsae with sha384(0x0805),
        rsa_pss_rsae with sha512(0x0806),
        rsa_pss_pss with sha256(0x0809),
        rsa_pss_pss with sha384(0x080a),
        rsa_pss_pss with sha512(0x080b)

        ] and no other algorithms;

].

Update A. Test 1 to:
Test 1 [conditional]: If “present a TLS 1.2 Certificate Request message” is selected, the evaluator shall perform the following test:

Test 2 (i) should be deleted because in TLS 1.3 these extensions are encrypted and the evaluator cannot view it.


The requirement for both (D)TLS1.2 and 1.3 needs to be "Present a Certificate Request message." That is implied by (D)TLSS_EXT.2.1, but this is the only SFR where there is a clear statement.

While it seems like the signature_algoirhtms_cert extension would be supported in the Certificate Request message for (D)TLS1.3, I don't see RFC 8446 defining this. The only specific mentions of the signature_algoirhtms_cert extension are in relationship to the Client Hello. RFC 8446 Section 4.3.2 (for the Certificate Request message) says, "The "signature_algorithms" extension MUST be specified, and other extensions may optionally be included **_if defined for this message_**."

There should still be testing for TLS1.3. I don't think the verification should just be "look at the documentation." Possibly just clarify that this does not need to be verified through a packet capture, It looks like (I'll try to verify) this info can be extracted from openssl debug output, so it wouldn't require specially developed tools. The reason for having an "examine" test is that negative testing has not been valuable:
- it ends up being "pick one/any unsupported algorithm", allowing TOEs to support many unclaimed algorithms if the evaluator doesn't happen to pick one of the algorithms the TOE supports.
- it generally requires special tools since a "good" client is not going to use an algorithm not advertised by the server

From page 61 of RFC 8446:
In prior versions of TLS, the CertificateRequest message carried a list of signature algorithms and certificate authorities which the server would accept.  In TLS 1.3, the former is expressed by sending the "signature_algorithms" and optionally "signature_algorithms_cert" extensions.  The latter is expressed by sending the "certificate_authorities" extension.

Thanks for pointing that out. I needed to read one more paragraph...

Even though it makes the SFR big, I think we need three lists. TLSv1.2, TLSv1.3 signature_algorithms, and TLSv1.3 signature_algorithms_cert. I think signature_algorihtms_cert needs to be it's own list because the intent of the extensions is "The "signature_algorithms_cert" extension was added to allow implementations which supported different sets of algorithms for certificates and in TLS itself..." we should allow for different algorithm specifications.

Would it make sense to create a single list of signature algorithms that is referenced (like we do for ciphersuites)?

TLS working group agrees that the following edits should be made for v3.0, but the remaining concerns require further discussion and are out of scope for NDcPPv3.0 editorial period. Therefore, this issue will be placed on hold.

- remove conditional from test 1
- remove 1st selection from SFR and final bracket

The remaining issues are being addressed in issue #318 