Section 3.6.1.3 para 280, FCS_DTLSC_EXT.2.3 Test 1

FCS_DTLSC_EXT.2.3 Test 1 specifies: “…the TSF does not take action in response to receiving these packets and that the audit log indicates that the replayed traffic was discarded.” This matches FCS_DTLSC_EXT.2 “Detected replay attacks” audit requirement. 

The requirement to discard replayed traffic does map to RFC 6347 Section 4.1.2.6, however the requirement to audit such occurrences exceeds what is mandated by the RFC. Specifically, RFC 6347, Section 4.1.2.7 Handling Invalid Records, states: “…however, an error MAY be logged for diagnostic purposes.”  

Please explain levelling of additional audit requirements on DTLS Clients in excess of what is mandated by RFC, but only when mutual authentication is claimed. 

The ND iTC TLS working goup is working in conjunction with NIAP's TLS TC so that the next version of the NDcPP can point out to NIAP's FP's for TLS and X509.